In [93]:
import pandas as pd 
import openpyxl as pxl
import numpy as np 
import statistics as st
from scipy.optimize import minimize, Bounds, LinearConstraint
from datetime import datetime

In [105]:
df=pd.read_csv("/Users/tejasvichabbra/Desktop/Portfolio_Analysis/data/combined3.csv")
df["TIMESTAMP"] = pd.to_datetime(df["TIMESTAMP"])
df=df[df['SERIES']=='EQ']
print(df, end="\n\n")
companies=df['SYMBOL'].unique()
final_day=pd.read_csv('finalday.csv')
final_day=final_day[final_day['SERIES']=='EQ']
final_day_companies=final_day['SYMBOL'].unique()
# print(companies)
# len(companies)
# print(len(final_day_companies))
# companies1=[]
# print(len(companies1))
# companies=companies1
# #inal_day_data=final_day.loc(:,['SYMBOL','CLOSE'])

           SYMBOL SERIES    CLOSE  TIMESTAMP
0       20MICRONS     EQ   125.60 2012-11-01
2         3MINDIA     EQ  3820.00 2012-11-01
3          A2ZMES     EQ    59.95 2012-11-01
4       AANJANEYA     EQ   637.30 2012-11-01
5      AARTIDRUGS     EQ   193.05 2012-11-01
...           ...    ...      ...        ...
91355  ZODIACLOTH     EQ   170.20 2012-09-03
91356   ZODJRDMKJ     EQ    21.30 2012-09-03
91357   ZUARIAGRO     EQ   137.10 2012-09-03
91358   ZYDUSWELL     EQ   393.70 2012-09-03
91359       ZYLOG     EQ   291.05 2012-09-03

[82620 rows x 4 columns]

In [106]:
df.sort_values(by=['SYMBOL','TIMESTAMP'],inplace=True)
companies=df['SYMBOL'].unique()
companies1=[]
for x in companies:
    for j in final_day_companies:
         if (x==j):
             companies1.append(x)
             break
len(companies1)
companies=companies1
# for i in df['SYMBOL'].unique()

In [107]:
j=1
ds=[]
for i in companies:
    ds.append(df[df['SYMBOL']==i])
index=0
final_companies=[]
final_prices=[]
print(ds,end="\n\n\n\n")
max_len=len(ds[0])
for i in ds:
    if (len(i)>max_len):
        max_len=len(i)
for i in ds: 
    if (len(i)==max_len):
        final_prices.append(i)
        final_companies.append(companies[index])
    index=index+1
len(final_prices)
print(len(final_companies))

 EQ  16.55 2012-09-03
48874  XCHANGING     EQ  17.65 2012-10-01
1556   XCHANGING     EQ  14.20 2012-11-01
10793  XCHANGING     EQ  13.55 2012-12-03
47286  XCHANGING     EQ  14.10 2013-01-01
24628  XCHANGING     EQ  13.75 2013-02-01
27784  XCHANGING     EQ  14.00 2013-03-01
20074  XCHANGING     EQ  12.20 2013-04-01
61157  XCHANGING     EQ  11.25 2013-05-02
29224  XCHANGING     EQ  10.30 2013-06-03
88400  XCHANGING     EQ   8.50 2013-07-01
66896  XCHANGING     EQ   8.00 2013-08-01
89782  XCHANGING     EQ   8.85 2013-09-02
13708  XCHANGING     EQ  11.25 2013-12-02
85530  XCHANGING     EQ  12.65 2014-01-01
77702  XCHANGING     EQ  14.80 2014-02-03
76205  XCHANGING     EQ  17.00 2014-03-03
65513  XCHANGING     EQ  19.25 2014-04-01
26197  XCHANGING     EQ  16.85 2014-05-02
84070  XCHANGING     EQ  18.45 2014-06-02
45701  XCHANGING     EQ  19.55 2014-07-01
18512  XCHANGING     EQ  19.90 2014-08-01
16917  XCHANGING     EQ  29.65 2014-09-01
71588  XCHANGING     EQ  41.50 2014-10-01
79311  XCHANGING     EQ  47.30 2014-11-03
69998  XCHANGING     EQ  39.05 2014-12-01
82462  XCHANGING     EQ  39.80 2015-01-01
74690  XCHANGING     EQ  36.15 2015-02-02
80885  XCHANGING     EQ  37.30 2015-03-02
59682  XCHANGING     EQ  32.10 2015-04-01
15287  XCHANGING     EQ  31.45 2015-05-04
58121  XCHANGING     EQ  28.80 2015-06-01,         SYMBOL SERIES   CLOSE  TIMESTAMP
62561  YESBANK     EQ  269.60 2010-07-01
63967  YESBANK     EQ  305.45 2010-08-02
86959  YESBANK     EQ  319.85 2010-09-01
12243  YESBANK     EQ  357.00 2010-10-01
42625  YESBANK     EQ  369.35 2010-11-01
6127   YESBANK     EQ  329.70 2010-12-01
44095  YESBANK     EQ  315.55 2011-01-03
33636  YESBANK     EQ  264.70 2011-02-01
39641  YESBANK     EQ  272.15 2011-03-01
38165  YESBANK     EQ  312.05 2011-04-01
68388  YESBANK     EQ  299.15 2011-05-02
36674  YESBANK     EQ  298.15 2011-06-01
54993  YESBANK     EQ  318.35 2011-07-01
73113  YESBANK     EQ  316.30 2011-08-01
53490  YESBANK     EQ  278.65 2011-09-02
41158  YESBANK     EQ  260.50 2011-10-03
35172  YESBANK     EQ  307.30 2011-11-01
21604  YESBANK     EQ  279.10 2011-12-01
7652   YESBANK     EQ  231.85 2012-01-02
4664   YESBANK     EQ  336.15 2012-02-01
9198   YESBANK     EQ  340.00 2012-03-01
30789  YESBANK     EQ  373.05 2012-04-02
56536  YESBANK     EQ  348.65 2012-05-02
3100   YESBANK     EQ  323.35 2012-06-01
51974  YESBANK     EQ  344.40 2012-07-02
50420  YESBANK     EQ  365.50 2012-08-01
91345  YESBANK     EQ  328.00 2012-09-03
48877  YESBANK     EQ  394.20 2012-10-01
1559   YESBANK     EQ  412.55 2012-11-01
10796  YESBANK     EQ  447.40 2012-12-03
47289  YESBANK     EQ  477.00 2013-01-01
24631  YESBANK     EQ  532.35 2013-02-01
27787  YESBANK     EQ  473.00 2013-03-01
20077  YESBANK     EQ  432.30 2013-04-01
61160  YESBANK     EQ  504.60 2013-05-02
29227  YESBANK     EQ  502.70 2013-06-03
88403  YESBANK     EQ  470.15 2013-07-01
66899  YESBANK     EQ  327.65 2013-08-01
89785  YESBANK     EQ  252.95 2013-09-02
32164  YESBANK     EQ  294.90 2013-10-01
23046  YESBANK     EQ  378.10 2013-11-01
13711  YESBANK     EQ  375.60 2013-12-02
85533  YESBANK     EQ  374.45 2014-01-01
77705  YESBANK     EQ  299.45 2014-02-03
76208  YESBANK     EQ  302.75 2014-03-03
65516  YESBANK     EQ  410.35 2014-04-01
26200  YESBANK     EQ  444.00 2014-05-02
84073  YESBANK     EQ  575.65 2014-06-02
45704  YESBANK     EQ  556.25 2014-07-01
18515  YESBANK     EQ  536.30 2014-08-01
16920  YESBANK     EQ  596.40 2014-09-01
71591  YESBANK     EQ  557.45 2014-10-01
79314  YESBANK     EQ  678.35 2014-11-03
70001  YESBANK     EQ  714.65 2014-12-01
82465  YESBANK     EQ  772.55 2015-01-01
74693  YESBANK     EQ  832.20 2015-02-02
80888  YESBANK     EQ  882.50 2015-03-02
59684  YESBANK     EQ  847.75 2015-04-01
15290  YESBANK     EQ  853.90 2015-05-04
58124  YESBANK     EQ  879.55 2015-06-01,       SYMBOL SERIES   CLOSE  TIMESTAMP
62563   ZEEL     EQ  298.85 2010-07-01
63969   ZEEL     EQ  301.85 2010-08-02
86961   ZEEL     EQ  287.00 2010-09-01
12245   ZEEL     EQ  301.20 2010-10-01
42627   ZEEL     EQ  284.40 2010-11-01
6129    ZEEL     EQ  145.30 2010-12-01
44097   ZEEL     EQ  144.55 2011-01-03
33638   ZEEL     EQ  111.90 2011-02-01
39643   ZEEL     EQ  120.80 2011-03-01
38167   ZEEL     EQ  125.05 2011-04-01
68390   ZEEL     EQ  136.55 2011-05-02
36676   ZEEL     EQ  139.75 2011-06-01
54995   ZEEL     EQ  133.05 2011-07-01
73115   ZEEL     EQ  130.45 2011-08-01
53492   ZEEL     EQ  118.15 2011-09-02
41160   ZEEL     EQ  117.75 2011-10-03
35174   ZEEL     EQ  118.05 2011-11-01
21606   ZEEL     EQ  126.20 2011-12-01
7654    ZEEL     EQ  116.80 2012-01-02
4666    ZEEL     EQ  130.70 2012-02-01
9200    ZEEL     EQ  130.00 2012-03-01
30791   ZEEL     EQ  130.50 2012-04-02
56538   ZEEL     EQ  126.50 2012-05-02
3102    ZEEL     EQ  126.20 2012-06-01
51976   ZEEL     EQ  149.05 2012-07-02
50422   ZEEL     EQ  165.50 2012-08-01
91347   ZEEL     EQ  161.15 2012-09-03
48879   ZEEL     EQ  197.10 2012-10-01
1561    ZEEL     EQ  187.95 2012-11-01
10798   ZEEL     EQ  200.20 2012-12-03
47291   ZEEL     EQ  223.35 2013-01-01
24633   ZEEL     EQ  231.35 2013-02-01
27789   ZEEL     EQ  220.80 2013-03-01
20079   ZEEL     EQ  214.90 2013-04-01
61162   ZEEL     EQ  234.25 2013-05-02
29229   ZEEL     EQ  236.10 2013-06-03
88405   ZEEL     EQ  247.60 2013-07-01
66901   ZEEL     EQ  237.95 2013-08-01
89787   ZEEL     EQ  234.30 2013-09-02
32166   ZEEL     EQ  231.05 2013-10-01
23048   ZEEL     EQ  270.70 2013-11-01
13713   ZEEL     EQ  269.50 2013-12-02
85535   ZEEL     EQ  277.00 2014-01-01
77707   ZEEL     EQ  269.10 2014-02-03
76210   ZEEL     EQ  267.30 2014-03-03
65518   ZEEL     EQ  273.40 2014-04-01
26202   ZEEL     EQ  269.50 2014-05-02
84075   ZEEL     EQ  265.00 2014-06-02
45706   ZEEL     EQ  299.50 2014-07-01
18517   ZEEL     EQ  289.05 2014-08-01
16922   ZEEL     EQ  284.50 2014-09-01
71594   ZEEL     EQ  313.50 2014-10-01
79316   ZEEL     EQ  350.20 2014-11-03
70003   ZEEL     EQ  377.30 2014-12-01
82467   ZEEL     EQ  377.70 2015-01-01
74695   ZEEL     EQ  371.75 2015-02-02
80890   ZEEL     EQ  342.75 2015-03-02
59686   ZEEL     EQ  340.85 2015-04-01
15292   ZEEL     EQ  320.95 2015-05-04
58126   ZEEL     EQ  320.25 2015-06-01,          SYMBOL SERIES  CLOSE  TIMESTAMP
44098  ZEELEARN     EQ  29.60 2011-01-03
33639  ZEELEARN     EQ  21.85 2011-02-01
39644  ZEELEARN     EQ  23.35 2011-03-01
38168  ZEELEARN     EQ  25.00 2011-04-01
68391  ZEELEARN     EQ  22.85 2011-05-02
36677  ZEELEARN     EQ  22.00 2011-06-01
54996  ZEELEARN     EQ  20.10 2011-07-01
73116  ZEELEARN     EQ  21.15 2011-08-01
53493  ZEELEARN     EQ  19.05 2011-09-02
41161  ZEELEARN     EQ  19.35 2011-10-03
35175  ZEELEARN     EQ  18.90 2011-11-01
21607  ZEELEARN     EQ  15.80 2011-12-01
7655   ZEELEARN     EQ  12.05 2012-01-02
30792  ZEELEARN     EQ  14.85 2012-04-02
51977  ZEELEARN     EQ  25.00 2012-07-02
50423  ZEELEARN     EQ  27.70 2012-08-01
91348  ZEELEARN     EQ  23.20 2012-09-03
48880  ZEELEARN     EQ  27.30 2012-10-01
1562   ZEELEARN     EQ  28.90 2012-11-01
10799  ZEELEARN     EQ  30.30 2012-12-03
47292  ZEELEARN     EQ  30.70 2013-01-01
24634  ZEELEARN     EQ  27.00 2013-02-01
27790  ZEELEARN     EQ  23.30 2013-03-01
20080  ZEELEARN     EQ  21.95 2013-04-01
61163  ZEELEARN     EQ  17.50 2013-05-02
29230  ZEELEARN     EQ  17.20 2013-06-03
88406  ZEELEARN     EQ  16.65 2013-07-01
66902  ZEELEARN     EQ  18.60 2013-08-01
89788  ZEELEARN     EQ  20.80 2013-09-02
32167  ZEELEARN     EQ  23.60 2013-10-01
23049  ZEELEARN     EQ  27.45 2013-11-01
13714  ZEELEARN     EQ  30.05 2013-12-02
85536  ZEELEARN     EQ  28.05 2014-01-01
77708  ZEELEARN     EQ  27.55 2014-02-03
76211  ZEELEARN     EQ  27.45 2014-03-03
65520  ZEELEARN     EQ  24.95 2014-04-01
26204  ZEELEARN     EQ  23.40 2014-05-02
84077  ZEELEARN     EQ  30.10 2014-06-02
45708  ZEELEARN     EQ  37.50 2014-07-01
18519  ZEELEARN     EQ  30.75 2014-08-01
16924  ZEELEARN     EQ  37.50 2014-09-01
71596  ZEELEARN     EQ  35.10 2014-10-01
79318  ZEELEARN     EQ  35.65 2014-11-03
70005  ZEELEARN     EQ  33.05 2014-12-01
82469  ZEELEARN     EQ  30.00 2015-01-01
74697  ZEELEARN     EQ  31.65 2015-02-02
80892  ZEELEARN     EQ  35.50 2015-03-02
59688  ZEELEARN     EQ  37.00 2015-04-01
15294  ZEELEARN     EQ  35.80 2015-05-04
58128  ZEELEARN     EQ  35.45 2015-06-01,          SYMBOL SERIES  CLOSE  TIMESTAMP
66903  ZEEMEDIA     EQ  11.55 2013-08-01
89789  ZEEMEDIA     EQ  11.00 2013-09-02
32168  ZEEMEDIA     EQ  11.85 2013-10-01
23050  ZEEMEDIA     EQ  13.80 2013-11-01
13715  ZEEMEDIA     EQ  13.80 2013-12-02
85537  ZEEMEDIA     EQ  13.90 2014-01-01
77709  ZEEMEDIA     EQ  12.35 2014-02-03
76212  ZEEMEDIA     EQ  13.60 2014-03-03
65521  ZEEMEDIA     EQ  14.30 2014-04-01
26205  ZEEMEDIA     EQ  13.35 2014-05-02
84078  ZEEMEDIA     EQ  17.90 2014-06-02
45709  ZEEMEDIA     EQ  21.00 2014-07-01
18520  ZEEMEDIA     EQ  17.85 2014-08-01
16925  ZEEMEDIA     EQ  18.85 2014-09-01
71597  ZEEMEDIA     EQ  16.75 2014-10-01
79319  ZEEMEDIA     EQ  21.90 2014-11-03
70006  ZEEMEDIA     EQ  20.95 2014-12-01
82470  ZEEMEDIA     EQ  19.05 2015-01-01
74698  ZEEMEDIA     EQ  18.25 2015-02-02
80893  ZEEMEDIA     EQ  17.25 2015-03-02
59689  ZEEMEDIA     EQ  18.25 2015-04-01
15295  ZEEMEDIA     EQ  19.05 2015-05-04
58129  ZEEMEDIA     EQ  17.95 2015-06-01,            SYMBOL SERIES   CLOSE  TIMESTAMP
62568  ZENSARTECH     EQ  330.20 2010-07-01
63974  ZENSARTECH     EQ  175.65 2010-08-02
86966  ZENSARTECH     EQ  165.50 2010-09-01
12251  ZENSARTECH     EQ  165.40 2010-10-01
42632  ZENSARTECH     EQ  156.25 2010-11-01
6134   ZENSARTECH     EQ  162.10 2010-12-01
44103  ZENSARTECH     EQ  169.40 2011-01-03
33645  ZENSARTECH     EQ  163.60 2011-02-01
39650  ZENSARTECH     EQ  158.05 2011-03-01
38173  ZENSARTECH     EQ  157.20 2011-04-01
68397  ZENSARTECH     EQ  177.35 2011-05-02
36682  ZENSARTECH     EQ  178.15 2011-06-01
55000  ZENSARTECH     EQ  166.60 2011-07-01
73122  ZENSARTECH     EQ  142.00 2011-08-01
53498  ZENSARTECH     EQ  124.65 2011-09-02
41165  ZENSARTECH     EQ  118.65 2011-10-03
35181  ZENSARTECH     EQ  129.35 2011-11-01
21612  ZENSARTECH     EQ  128.05 2011-12-01
7660   ZENSARTECH     EQ  142.65 2012-01-02
4672   ZENSARTECH     EQ  172.80 2012-02-01
9207   ZENSARTECH     EQ  183.85 2012-03-01
30798  ZENSARTECH     EQ  180.15 2012-04-02
56544  ZENSARTECH     EQ  212.85 2012-05-02
3108   ZENSARTECH     EQ  221.90 2012-06-01
51982  ZENSARTECH     EQ  260.65 2012-07-02
50428  ZENSARTECH     EQ  279.80 2012-08-01
91353  ZENSARTECH     EQ  247.45 2012-09-03
48884  ZENSARTECH     EQ  290.70 2012-10-01
1567   ZENSARTECH     EQ  239.50 2012-11-01
10805  ZENSARTECH     EQ  260.80 2012-12-03
47298  ZENSARTECH     EQ  280.10 2013-01-01
24639  ZENSARTECH     EQ  249.75 2013-02-01
27795  ZENSARTECH     EQ  226.95 2013-03-01
20085  ZENSARTECH     EQ  242.30 2013-04-01
61167  ZENSARTECH     EQ  245.35 2013-05-02
29234  ZENSARTECH     EQ  248.95 2013-06-03
88410  ZENSARTECH     EQ  254.45 2013-07-01
66905  ZENSARTECH     EQ  220.40 2013-08-01
89791  ZENSARTECH     EQ  238.35 2013-09-02
32172  ZENSARTECH     EQ  230.20 2013-10-01
23053  ZENSARTECH     EQ  266.85 2013-11-01
13719  ZENSARTECH     EQ  327.35 2013-12-02
85541  ZENSARTECH     EQ  373.35 2014-01-01
77714  ZENSARTECH     EQ  374.95 2014-02-03
76215  ZENSARTECH     EQ  389.25 2014-03-03
65523  ZENSARTECH     EQ  377.85 2014-04-01
26209  ZENSARTECH     EQ  359.75 2014-05-02
84082  ZENSARTECH     EQ  378.10 2014-06-02
45714  ZENSARTECH     EQ  432.35 2014-07-01
18525  ZENSARTECH     EQ  412.15 2014-08-01
16930  ZENSARTECH     EQ  453.90 2014-09-01
71602  ZENSARTECH     EQ  617.70 2014-10-01
79323  ZENSARTECH     EQ  611.00 2014-11-03
70008  ZENSARTECH     EQ  596.25 2014-12-01
82472  ZENSARTECH     EQ  605.90 2015-01-01
74700  ZENSARTECH     EQ  641.60 2015-02-02
80896  ZENSARTECH     EQ  721.40 2015-03-02
59692  ZENSARTECH     EQ  679.15 2015-04-01
15298  ZENSARTECH     EQ  690.05 2015-05-04
58132  ZENSARTECH     EQ  760.60 2015-06-01,        SYMBOL SERIES  CLOSE  TIMESTAMP
59693  ZENTEC     EQ   55.7 2015-04-01
15299  ZENTEC     EQ   61.3 2015-05-04
58133  ZENTEC     EQ   77.2 2015-06-01,            SYMBOL SERIES   CLOSE  TIMESTAMP
62570  ZODIACLOTH     EQ  519.95 2010-07-01
63976  ZODIACLOTH     EQ  484.90 2010-08-02
86968  ZODIACLOTH     EQ  339.95 2010-09-01
12253  ZODIACLOTH     EQ  353.25 2010-10-01
42634  ZODIACLOTH     EQ  412.65 2010-11-01
6136   ZODIACLOTH     EQ  396.50 2010-12-01
44105  ZODIACLOTH     EQ  403.35 2011-01-03
33647  ZODIACLOTH     EQ  345.10 2011-02-01
39652  ZODIACLOTH     EQ  372.00 2011-03-01
38175  ZODIACLOTH     EQ  382.30 2011-04-01
36684  ZODIACLOTH     EQ  374.60 2011-06-01
55002  ZODIACLOTH     EQ  358.55 2011-07-01
73124  ZODIACLOTH     EQ  366.70 2011-08-01
53500  ZODIACLOTH     EQ  338.40 2011-09-02
41167  ZODIACLOTH     EQ  231.40 2011-10-03
35183  ZODIACLOTH     EQ  212.15 2011-11-01
21614  ZODIACLOTH     EQ  201.65 2011-12-01
7662   ZODIACLOTH     EQ  211.00 2012-01-02
4674   ZODIACLOTH     EQ  204.70 2012-02-01
9209   ZODIACLOTH     EQ  197.25 2012-03-01
30800  ZODIACLOTH     EQ  202.70 2012-04-02
56546  ZODIACLOTH     EQ  205.80 2012-05-02
3110   ZODIACLOTH     EQ  190.85 2012-06-01
51984  ZODIACLOTH     EQ  185.95 2012-07-02
50430  ZODIACLOTH     EQ  192.65 2012-08-01
91355  ZODIACLOTH     EQ  170.20 2012-09-03
48886  ZODIACLOTH     EQ  189.25 2012-10-01
1569   ZODIACLOTH     EQ  180.00 2012-11-01
10807  ZODIACLOTH     EQ  190.90 2012-12-03
47300  ZODIACLOTH     EQ  190.65 2013-01-01
27797  ZODIACLOTH     EQ  200.50 2013-03-01
20087  ZODIACLOTH     EQ  186.10 2013-04-01
29236  ZODIACLOTH     EQ  196.95 2013-06-03
88412  ZODIACLOTH     EQ  196.35 2013-07-01
66907  ZODIACLOTH     EQ  166.10 2013-08-01
89793  ZODIACLOTH     EQ  180.00 2013-09-02
32174  ZODIACLOTH     EQ  197.00 2013-10-01
23055  ZODIACLOTH     EQ  198.00 2013-11-01
13721  ZODIACLOTH     EQ  199.00 2013-12-02
77716  ZODIACLOTH     EQ  199.05 2014-02-03
76217  ZODIACLOTH     EQ  198.05 2014-03-03
65525  ZODIACLOTH     EQ  230.40 2014-04-01
26211  ZODIACLOTH     EQ  275.40 2014-05-02
84084  ZODIACLOTH     EQ  398.55 2014-06-02
45716  ZODIACLOTH     EQ  400.45 2014-07-01
18527  ZODIACLOTH     EQ  374.70 2014-08-01
16932  ZODIACLOTH     EQ  370.00 2014-09-01
71604  ZODIACLOTH     EQ  390.00 2014-10-01
79325  ZODIACLOTH     EQ  385.00 2014-11-03
70010  ZODIACLOTH     EQ  391.95 2014-12-01
82474  ZODIACLOTH     EQ  372.00 2015-01-01
74702  ZODIACLOTH     EQ  399.15 2015-02-02
80898  ZODIACLOTH     EQ  296.35 2015-03-02
59695  ZODIACLOTH     EQ  276.50 2015-04-01
15301  ZODIACLOTH     EQ  292.25 2015-05-04
58135  ZODIACLOTH     EQ  293.00 2015-06-01,       SYMBOL SERIES   CLOSE  TIMESTAMP
47302  ZUARI     EQ  283.45 2013-01-01
24643  ZUARI     EQ  238.70 2013-02-01
27799  ZUARI     EQ  184.75 2013-03-01
20089  ZUARI     EQ  152.85 2013-04-01
61169  ZUARI     EQ  148.50 2013-05-02
29237  ZUARI     EQ  104.90 2013-06-03
88414  ZUARI     EQ  100.10 2013-07-01
66908  ZUARI     EQ   81.45 2013-08-01
89794  ZUARI     EQ   83.45 2013-09-02
32175  ZUARI     EQ   84.10 2013-10-01
23056  ZUARI     EQ   94.75 2013-11-01
13722  ZUARI     EQ  136.85 2013-12-02
85543  ZUARI     EQ  146.80 2014-01-01
77717  ZUARI     EQ  136.45 2014-02-03
76218  ZUARI     EQ  128.10 2014-03-03
65527  ZUARI     EQ  131.65 2014-04-01
26213  ZUARI     EQ  134.75 2014-05-02
84086  ZUARI     EQ  160.20 2014-06-02
45718  ZUARI     EQ  185.20 2014-07-01
18529  ZUARI     EQ  177.45 2014-08-01
16934  ZUARI     EQ  176.10 2014-09-01
71606  ZUARI     EQ  201.85 2014-10-01
79327  ZUARI     EQ  249.25 2014-11-03
70012  ZUARI     EQ  265.15 2014-12-01
82476  ZUARI     EQ  267.30 2015-01-01
74704  ZUARI     EQ  236.55 2015-02-02
80900  ZUARI     EQ  267.20 2015-03-02
59697  ZUARI     EQ  252.10 2015-04-01
15303  ZUARI     EQ  209.25 2015-05-04
58137  ZUARI     EQ  197.15 2015-06-01,           SYMBOL SERIES   CLOSE  TIMESTAMP
48888  ZUARIGLOB     EQ  145.80 2012-10-01
1571   ZUARIGLOB     EQ  121.70 2012-11-01
10810  ZUARIGLOB     EQ  119.35 2012-12-03
47303  ZUARIGLOB     EQ  107.70 2013-01-01
24644  ZUARIGLOB     EQ   90.95 2013-02-01
27800  ZUARIGLOB     EQ   72.35 2013-03-01
20090  ZUARIGLOB     EQ   74.20 2013-04-01
61170  ZUARIGLOB     EQ   71.15 2013-05-02
29238  ZUARIGLOB     EQ   63.25 2013-06-03
88415  ZUARIGLOB     EQ   53.35 2013-07-01
66909  ZUARIGLOB     EQ   42.20 2013-08-01
89795  ZUARIGLOB     EQ   54.55 2013-09-02
32176  ZUARIGLOB     EQ   53.10 2013-10-01
23057  ZUARIGLOB     EQ   51.25 2013-11-01
13723  ZUARIGLOB     EQ   82.35 2013-12-02
85544  ZUARIGLOB     EQ   75.35 2014-01-01
77718  ZUARIGLOB     EQ   58.45 2014-02-03
76219  ZUARIGLOB     EQ   66.50 2014-03-03
65528  ZUARIGLOB     EQ   76.20 2014-04-01
26214  ZUARIGLOB     EQ   78.20 2014-05-02
84087  ZUARIGLOB     EQ   80.45 2014-06-02
45719  ZUARIGLOB     EQ   91.10 2014-07-01
18530  ZUARIGLOB     EQ   84.25 2014-08-01
16935  ZUARIGLOB     EQ   85.65 2014-09-01
71607  ZUARIGLOB     EQ   90.50 2014-10-01
79328  ZUARIGLOB     EQ   95.85 2014-11-03
70013  ZUARIGLOB     EQ  108.10 2014-12-01
82477  ZUARIGLOB     EQ  102.95 2015-01-01
74705  ZUARIGLOB     EQ  101.60 2015-02-02
80901  ZUARIGLOB     EQ  104.75 2015-03-02
59698  ZUARIGLOB     EQ  100.65 2015-04-01
15304  ZUARIGLOB     EQ   95.80 2015-05-04
58138  ZUARIGLOB     EQ   95.00 2015-06-01,           SYMBOL SERIES    CLOSE  TIMESTAMP
62573  ZYDUSWELL     EQ   489.55 2010-07-01
63979  ZYDUSWELL     EQ   514.40 2010-08-02
86971  ZYDUSWELL     EQ   594.30 2010-09-01
12256  ZYDUSWELL     EQ   587.20 2010-10-01
42637  ZYDUSWELL     EQ   545.05 2010-11-01
6139   ZYDUSWELL     EQ   583.45 2010-12-01
44108  ZYDUSWELL     EQ   597.70 2011-01-03
33650  ZYDUSWELL     EQ   572.25 2011-02-01
39655  ZYDUSWELL     EQ   586.80 2011-03-01
38178  ZYDUSWELL     EQ   581.10 2011-04-01
68400  ZYDUSWELL     EQ   602.35 2011-05-02
36687  ZYDUSWELL     EQ   582.35 2011-06-01
55005  ZYDUSWELL     EQ   645.10 2011-07-01
73127  ZYDUSWELL     EQ   600.30 2011-08-01
53503  ZYDUSWELL     EQ   591.45 2011-09-02
41170  ZYDUSWELL     EQ   544.50 2011-10-03
35186  ZYDUSWELL     EQ   570.85 2011-11-01
21616  ZYDUSWELL     EQ   455.75 2011-12-01
7665   ZYDUSWELL     EQ   379.60 2012-01-02
4677   ZYDUSWELL     EQ   415.15 2012-02-01
9212   ZYDUSWELL     EQ   368.95 2012-03-01
30803  ZYDUSWELL     EQ   399.80 2012-04-02
56549  ZYDUSWELL     EQ   383.15 2012-05-02
3113   ZYDUSWELL     EQ   359.55 2012-06-01
51987  ZYDUSWELL     EQ   410.00 2012-07-02
50433  ZYDUSWELL     EQ   417.90 2012-08-01
91358  ZYDUSWELL     EQ   393.70 2012-09-03
48889  ZYDUSWELL     EQ   413.00 2012-10-01
1572   ZYDUSWELL     EQ   445.60 2012-11-01
10811  ZYDUSWELL     EQ   460.80 2012-12-03
47304  ZYDUSWELL     EQ   521.10 2013-01-01
24645  ZYDUSWELL     EQ   496.40 2013-02-01
27801  ZYDUSWELL     EQ   473.05 2013-03-01
20091  ZYDUSWELL     EQ   431.30 2013-04-01
61171  ZYDUSWELL     EQ   446.10 2013-05-02
29239  ZYDUSWELL     EQ   607.25 2013-06-03
88416  ZYDUSWELL     EQ   642.00 2013-07-01
66910  ZYDUSWELL     EQ   603.65 2013-08-01
89796  ZYDUSWELL     EQ   534.60 2013-09-02
32177  ZYDUSWELL     EQ   530.30 2013-10-01
23058  ZYDUSWELL     EQ   565.60 2013-11-01
13724  ZYDUSWELL     EQ   556.45 2013-12-02
85545  ZYDUSWELL     EQ   552.45 2014-01-01
77719  ZYDUSWELL     EQ   515.15 2014-02-03
76220  ZYDUSWELL     EQ   485.65 2014-03-03
65529  ZYDUSWELL     EQ   492.65 2014-04-01
26215  ZYDUSWELL     EQ   529.80 2014-05-02
84088  ZYDUSWELL     EQ   539.25 2014-06-02
45720  ZYDUSWELL     EQ   584.40 2014-07-01
18531  ZYDUSWELL     EQ   590.30 2014-08-01
16936  ZYDUSWELL     EQ   606.65 2014-09-01
71608  ZYDUSWELL     EQ   639.90 2014-10-01
79329  ZYDUSWELL     EQ   630.00 2014-11-03
70014  ZYDUSWELL     EQ   719.85 2014-12-01
82478  ZYDUSWELL     EQ   811.40 2015-01-01
74706  ZYDUSWELL     EQ   828.20 2015-02-02
80902  ZYDUSWELL     EQ   849.65 2015-03-02
59699  ZYDUSWELL     EQ  1021.10 2015-04-01
15305  ZYDUSWELL     EQ  1009.20 2015-05-04
58139  ZYDUSWELL     EQ   988.35 2015-06-01]



425

In [12]:
##### writing ocmpany wise prices to different sheets in excel ##########
# path='/Users/tejasvichabbra/Desktop/Portfolio_Analysis/out.xlsx'

# excel_book = pxl.load_workbook(path)
    
# for i in range(0,len(ds)):
#     with pd.ExcelWriter(path, engine='openpyxl') as writer: 
#         writer.book = excel_book
#         writer.sheets = {
#             worksheet.title: worksheet
#             for worksheet in excel_book.worksheets
#         }
#         ds[i].to_excel(writer, companies[i], index=False)
#         print(companies[i])
#         writer.save()

In [108]:
#calculating returns fro each comapny 
returns_list=[]
mean_list=[]
stddev_list=[]
for i in range(0,len(final_companies)): 
    prices=final_prices[i]['CLOSE']
    prices=prices.to_numpy()
    returns=np.zeros(len(prices)-1)
    j=-1
    for h in range((len(prices)-1),0,-1):
        j=j+1
        returns[j]=(prices[h]-prices[h-1])/prices[h-1]
        
    returns_list.append(returns)
    mean_list.append(returns.mean())
    stddev_list.append(returns.std())
len(mean_list)
len(returns_list)

425

In [109]:
len(stddev_list)

425

In [110]:
correlation=[]
i_index=0
j_index=0
corr_matrix=np.zeros(len(returns_list)**2).reshape(len(returns_list),len(returns_list))
cov_matrix=np.zeros(len(returns_list)**2).reshape(len(returns_list),len(returns_list))

for x in range(0,len(returns_list)):
    i=returns_list[x]
    for y in range(0,len(returns_list)):
        j=returns_list[y]
        corr_temp=np.corrcoef(i, j)
        corr=corr_temp[0][1]
        cov=corr*stddev_list[x]*stddev_list[y]
        corr_matrix[x][y]=corr
        cov_matrix[x][y]=cov

In [111]:
final_just_prices=[]
for i in final_prices:
    final_just_prices.append(i['CLOSE'])

In [ ]:
##### ALL THE VARIABLES CALCULATED TILL NOW ######

print(len(final_just_prices))# companywise prices arrays 
print(returns_list)# comapnywise returns arrays 
print(mean_list)# company wise mean returns 
print(stddev_list)# companywise stddev of returns
print(corr_matrix)# correlation matrix 
print(cov_matrix)#covariance matrix

In [ ]:
##### forming a list of all the important variables #####
append_list=[]
append_list.append(final_just_prices)
append_list.append(returns_list)
append_list.append(mean_list)
append_list.append(stddev_list)
append_list.append(corr_matrix)
append_list.append(cov_matrix)
append_list.append(weight_list)

In [ ]:
##### writing all the important variables to different excel sheets of a workbook ###############
name_arrays=['companywise prices arrays','comapnywise returns arrays','company wise mean returns','companywise stddev of returns','correlation matrix','covariance matrix','weighatges']
path='/Users/tejasvichabbra/Desktop/Portfolio_Analysis/to_be_optimised_6yrs.xlsx'
excel_book = pxl.load_workbook(path)
def excel_writer(to_be_written,name):
    with pd.ExcelWriter(path, engine='openpyxl') as writer: 
        writer.book = excel_book
        writer.sheets = {
        worksheet.title: worksheet
        for worksheet in excel_book.worksheets
        }
        pd.DataFrame(to_be_written).to_excel(writer,name, index=False)
        writer.save()

excel_writer(weight_list,'weight_list')#weight 
excel_writer(mean_list,'mean_list')# company wise mean returns 
excel_writer(stddev_list,'stddev_list')# companywise stddev of returns
excel_writer(corr_matrix,'corr_matrix')# correlation matrix 
excel_writer(cov_matrix,'cov_matrix')#covariance matrix

In [112]:
W = np.ones((len(returns_list),1))*(1.0/len(returns_list))
mean_list=np.array(mean_list)
def optimize(func, W, exp_ret, cov, target_return):
    opt_bounds = Bounds(0, 1)
    opt_constraints = ({'type': 'eq','fun': lambda W: 1.0 - np.sum(W)},{'type': 'eq','fun': lambda W: target_return - W.T@exp_ret})
    optimal_weights = minimize(func, W, 
                               args=(exp_ret, cov),
                               method='SLSQP',
                               bounds=opt_bounds,
                               constraints=opt_constraints)
    return optimal_weights['x']
def ret_risk(W, exp_ret, cov):
    return -((W.T@exp_ret) / (W.T@cov@W)**0.5)
x = optimize(ret_risk,W,mean_list, cov_matrix, 
             target_return=0.05)

In [113]:
expected_return=mean_list.T@x
expected_risk=(x.T@cov_matrix)@x
print(expected_return)
print(expected_risk)

0.049999999999572324
0.0026247577214365686

In [114]:
tmp=final_day[final_day['SYMBOL']==final_companies[3]]
tmp

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
22,ABB,EQ,1753.0,1757.7,1730.2,1742.1,1740.0,1757.75,69427,1.210653e+08,07-JUL-2021,5448,INE117A01022,NaN

In [116]:
ctr=0
indi_final_returns=[]
path_first_day="/Users/tejasvichabbra/Desktop/Portfolio_Analysis/firstday_data/firstday3.csv"
first_day=pd.read_csv(path_first_day)
first_day=first_day[first_day['SERIES']=='EQ']
for i in range(0,len(final_companies)):
    tmp=final_day[final_day['SYMBOL']==final_companies[i]]
    end=float(tmp['CLOSE'])
    tmp1=first_day[first_day['SYMBOL']==final_companies[i]]
    start=float(tmp1['CLOSE'])
    ctr+=1
    indi_final_returns.append(end-start)
individual_returns=np.array(indi_final_returns)
individual_returns=individual_returns.reshape(len(indi_final_returns),1)
x=x.reshape(len(x),1)
print(x.shape)
print(individual_returns.shape)
print(sum(x))
print(sum(individual_returns))
final_earnings=x.T@individual_returns
final_earnings

(425, 1)
(425, 1)
[1.]
[408620.53]

array([[11426.17329317]])

In [138]:
col_names=['Expected Return' ,'Expected risk' ,'Final Earnings']
fin_df=pd.DataFrame(columns=col_names)
final_dic=[expected_return,expected_risk,float(final_earnings)]
a_series = pd.Series(final_dic, index = fin_df.columns)
fin_df = fin_df.append(a_series, ignore_index=True)
fin_df

NameError: name 'fin_day' is not defined

final_companies